<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rasheed Odutayo's Gift Match-Making App</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="header">
        <h2>Welcome To Rasheed Odutayo's Gift Matchmaking For Organizations To Share Gift During Festivals!</h2>
        <img src="images/Gift match-maker.png" class="logo" alt="Gift Matchmaker Logo">
    </div>
    <p>Click below to start!</p>
    <a th:href="@{/addpeople}">Start!</a>
</body>
</html>
